/* ---------- common ---------- */
body{
    font-size: 12px;
    line-height: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    font-weight: 500;
    letter-spacing: -0.4px;
}
:root{
    --color_bg_white: #ffffff;
    --color_bg_black: #000000;
    --color_common1: #101010;
    --color_common2: #404040;
    --color_common3: #606060;
    --color_active: #080808;
    --color_inactive: rgba(8,8,8,.5);
    --color_divider: #ebebeb;
    --color_dot_divider: #d3d5d7;
    --color_naver_brand: #03c75a;
    --color_btn_border: #dadcdf;
    --color_naviBtn_hover: #f5f7f8;
    --color_naviBtn_active: #e7eced;
    --color_search_typing: #000000;
    --color_search_active: #e4e4e4;
    --color_search_inactive: rgba(0,0,0,0);
    --color_fbCard_desc_subtitle: #ffffff;
    --color_fbCard_desc_title: #222122;
    --color_fbCard_desc_text: #545454;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.box_module{
    border-radius: 8px;
    box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0,0,0,.04);
    box-sizing: border-box;
}
.con1280{
    width: 1280px;
    margin: 0 auto;
}
.blind{
    display: none;
    
}
button{
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: none;
    padding: 0;
    font-size: 0;
    line-height: 0;
}





/* ---------- header ---------- */
#header{height: 253px;}
.headerInner{padding: 18px 0 42px;}
.naviArea{
    display: flex;
    justify-content: space-between;
}
.naviLeft{display: flex;}
.naviLeft li{font-size: 0; position: relative;}
.naviRight{display: flex;}
.naviRight li{font-size: 0; position: relative;}
.menu_tip{margin-left: -7px;}
.notify_tip{margin-left: 7px;}
.tooltip{
    display: none;
    padding: 0 16px;
    border: 1px solid #03c75a;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.08);
    z-index: 10;
    color: var(--color_common1);
    background-color: var(--color_bg_white);
    font-size: 14px;
    line-height: 38px;
    font-weight: 500;
    white-space: nowrap;
    border-radius: 20px;
    position: absolute;
    top: 50px; left: 50%;
    transform: translateX(-50%);
}
.tooltip::after{
    content: "";
    display: block;
    background-image: url(../img/icon/sprite_icon.png);
    background-repeat: no-repeat;
    background-position: -124px -154px;
    background-size: 434px 422px;
    width: 20px; height: 11px;
    transform: translateX(-50%) rotate(180deg);
    position: absolute;
    top: -11px; left: 50%;
}
.tooltip.active{display: block;}
.dot{
    width: 3px; height: 3px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 4px;
    background-color: var(--color_dot_divider);
    vertical-align: 4px;
}
.naviBtn{
    padding: 10px;
    cursor: pointer;
    position: relative;
}
.btn_menu{margin-right: 5px; margin-left: -10px;}
.btn_pay{display: block; padding: 10px 8px;}
.btn_talk{}
.btn_notify{margin-left: 5px; margin-right: -10px;}
.btn_menu::after{
    content: "";
    display: block;
    background-image: url(../img/icon/sprite_icon.png);
    background-size: 434px 422px;
    background-position: -364px 0px;
    background-repeat: no-repeat;
    width: 26px; height: 26px;
}
.btn_pay::after{
    content: "";
    display: block;
    background-image: url(../img/icon/sprite_icon.png);
    background-size: 434px 422px;
    background-position: -31px -316px;
    background-repeat: no-repeat;
    width: 30px; height: 26px;
}
.btn_talk::after{
    content: "";
    display: block;
    background-image: url(../img/icon/sprite_icon.png);
    background-size: 434px 422px;
    background-position: -364px -108px;
    background-repeat: no-repeat;
    width: 26px; height: 26px;
}
.btn_notify::after{
    content: "";
    display: block;
    background-image: url(../img/icon/sprite_icon.png);
    background-size: 434px 422px;
    background-position: -364px -54px;
    background-repeat: no-repeat;
    width: 26px; height: 26px;
}
.naviBtn:hover::before{
    content: "";
    display: block;
    position: absolute;
    top: 1px; left: 1px;
    width: 44px; height: 44px;
    border-radius: 50%;
    background-color: var(--color_naviBtn_hover);
    z-index: -1;
}
.naviBtn:active::before{
    content: "";
    display: block;
    position: absolute;
    top: 1px; left: 1px;
    width: 44px; height: 44px;
    border-radius: 50%;
    background-color: var(--color_naviBtn_active);
    z-index: -1;
}
.searchArea{}
.searchInner{
    border: 1px solid var(--color_naver_brand);
    border-radius: 33px;
    background-color: var(--color_bg_white);
    width: 706px;
    display: flex;
    margin: 0 auto;
    position: relative;
}
.searchInner:hover{box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);}
.logo{
    display: inline-block;
    margin-right: 12px;
}
.logo a{
    display: block;
    position: relative;
    width: 24px; height: 24px;
    font-size: 0;
    padding: 17px 17px 17px 27px;
}
.logo a svg{}
.logo a svg path{fill: var(--color_naver_brand);}
.logo.active a::before{
    content: "";
    display: block;
    position: absolute;
    top: 17px; right: 0;
    width: 1px; height: 24px;
    background-color: var(--color_naver_brand);
    opacity: .3;
}
.search{}
.search fieldset{}
.input_box{width: 480px;}
.input_box input::-webkit-search-cancel-button{display: none;}
.input_box input{
    padding: 17px 0;
    width: 100%; height: 58px;
    color: var(--color_search_typing);
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
    border: none;
    outline: none;
}
.input_box input::placeholder{
    color: var(--color_search_inactive);
    font-weight: normal;
}
.input_box input:focus::placeholder{color: var(--color_search_active);}
.btn_search{
    position: absolute;
    top: 0; right: 0;
    padding: 17px 27px 16px 10px;
    cursor: pointer;
}
.btn_search::before{
    content: "";
    display: block;
    background-image: url(../img/icon/sprite_icon.png);
    background-repeat: no-repeat;
    background-position: -364px -213px;
    background-size: 434px 422px;
    width: 25px; height: 25px;
}
.searchBox{
    position: absolute;
    top: 0; right: 61px;
    display: flex;
}
.searchBox button{
    height: 58px;
    cursor: pointer;
}
.btn_keyboard{padding: 21px 3px;}
.btn_keyboard::before{
    content: "";
    display: block;
    background-image: url(../img/icon/sprite_icon.png);
    background-repeat: no-repeat;
    background-size: 434px 422px;
    background-position: -50px -270px;
    width: 24px; height: 16px;
}
.btn_keyboard:hover::before{background-position: -270px -234px;}
.btn_keyboard_text{
    display: none;
    background-image: url(../img/icon/sprite_icon.png);
    background-repeat: no-repeat;
    background-size: 434px 422px;
    background-position: -55px -128px;
    width: 68px; height: 37px;
    position: absolute;
    top: 44px; left: -19px;
}
.btn_keyboard_text.active{
    display: block;
    z-index: 10;
}
.btn_fold{padding: 26px 6px;}
.btn_fold::before{
    content: "";
    display: block;
    background-image: url(../img/icon/sprite_icon.png);
    background-repeat: no-repeat;
    background-size: 434px 422px;
    background-position: -323px -174px;
    width: 10px; height: 6px;
}
.searchArea.active{
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 66px;
    box-sizing: border-box;
    background-color: var(--color_bg_white);
    border-bottom: 1px solid var(--color_naver_brand);
    z-index: 100;
    animation: searchAreadropdown .3s cubic-bezier(0.33, 1, 0.68, 1);
}
.searchArea.active:hover{box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);}
.searchArea.active>.searchInner{
    border-radius: 0;
    border: none;
    width: 880px;
    position: absolute;
    bottom: 3px; left: 15.2%;
}
.searchArea.active>.searchInner:hover{box-shadow: none;}
.searchArea.active .input_box input::placeholder{color: var(--color_search_active);}
@keyframes searchAreadropdown{
    0%{transform: translateY(-100%);}
    100%{transform: translateY(0);}
}
.shortcutArea{margin-top: 12px;}
.shortcut_item_wrap{
    display: flex;
    justify-content: center;
}
.shortcut_item{margin-left: 4px;}
.shortcut_item:first-child{margin: 0;}
.shortcut_group{display: block; width: 64px;}
.shortcut_group:hover>.shortcut_icon::before{
    background-position: -142px 0px;
    top: -3px; left: -5px;
    width: 58px; height: 58px;
}
.shortcut_icon{
    position: relative;
    display: block;
    width: 48px; height: 48px;
    margin: 0 auto;
}
.shortcut_icon::before{
    content: "";
    display: block;
    background-image: url(../img/icon/sprite_icon.png);
    background-size: 435px 423px;
    background-position: 0px -128px;
    background-repeat: no-repeat;
    width: 54px; height: 54px;
    position: absolute;
    top: -2px; left: -3px;
}
.shortcut_icon::after{
    content: "";
    display: block;
    background-image: url(../img/icon/sprite_icon.png);
    background-size: 435px 423px;
    background-repeat: no-repeat;
    width: 44px; height: 44px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.shortcut_name{
    display: block;
    margin-top: 7px;
    line-height: 20px;
    text-align: center;
    color: var(--color_common1);
    font-size: 14.7px;
    font-weight: 500;
}
.shortcut_item:nth-child(1) .shortcut_icon::after{background-position: -250px -90px;}
.shortcut_item:nth-child(2) .shortcut_icon::after{background-position: -250px 0px;}
.shortcut_item:nth-child(3) .shortcut_icon::after{background-position: -201px -98px;}
.shortcut_item:nth-child(4) .shortcut_icon::after{background-position: -90px -209px;}
.shortcut_item:nth-child(5) .shortcut_icon::after{background-position: 0px -209px;}
.shortcut_item:nth-child(6) .shortcut_icon::after{background-position: -180px -209px;}
.shortcut_item:nth-child(7) .shortcut_icon::after{background-position: -45px -209px;}
.shortcut_item:nth-child(8) .shortcut_icon::after{background-position: -201px 0px;}
.shortcut_item:nth-child(9) .shortcut_icon::after{background-position: -225px -209px;}
.shortcut_item:nth-child(10) .shortcut_icon::after{background-position: -250px -135px;}
.shortcut_plus_btn:hover>.shortcut_icon::before{background-position: 0px -69px;}
.shortcut_plus_btn:hover>.shortcut_icon::after{filter: brightness(0.5);}
.shortcut_plus{
    display: none;
    background-color: #fafbfb;
    margin: 19px -15px 0 -15px;
    padding: 0 23px 17px 25px;
}
.shortcut_plus_title{
    display: inline-block;
    padding: 18px 0 10px;
    font-size: 15.75px;
    color: var(--color_common1);
    line-height: 20px;
    font-weight: 700;
    vertical-align: top;
}
.shortcut_plus_title::after{
    content: "";
    display: inline-block;
    background-image: url(../img/icon/sprite_icon.png);
    background-size: 434px 422px;
    background-repeat: no-repeat;
    background-position: 0px -410px;
    width: 8px; height: 12px;
    margin: 4px 0 0 8px;
    vertical-align: top;
}
.shortcut_plus_list{
    display: flex;
    flex-wrap: wrap;
}
.shortcut_plus_list>li{flex-basis: 165px;}
.shortcut_plus_list>li>a{
    display: block;
    font-size: 14.7px;
    color: var(--color_common2);
    padding: 9px 0;
    line-height: 28px;
    white-space: nowrap;
}
.shortcut_plus_list>li>a>span{
    width: 28px; height: 28px;
    position: relative;
    display: inline-block;
    margin-right: 8px;
    vertical-align: top;
}
.shortcut_plus_list>li>a>span::before{
    content: "";
    display: block;
    position: absolute;
    top: -1px; left: -1px;
    background-image: url(../img/icon/sprite_icon.png);
    background-size: 434px 422px;
    background-repeat: no-repeat;
    background-position: -295px -212px;
    width: 30px; height: 30px;
}
.shortcut_plus_list>li>a>span::after{
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    background-image: url(../img/icon/sprite_icon.png);
    background-size: 434px 422px;
    background-repeat: no-repeat;
    width: 28px; height: 28px;
}
.shortcut_plus_list>li:nth-child(1)>a>span::after{background-position: -335px -174px;}
.shortcut_plus_list>li:nth-child(2)>a>span::after{background-position: -116px -287px;}
.shortcut_plus_list>li:nth-child(3)>a>span::after{background-position: -335px -29px;}
.shortcut_plus_list>li:nth-child(4)>a>span::after{background-position: -335px 0px;}
.shortcut_plus_list>li:nth-child(5)>a>span::after{background-position: -29px -287px;}
.shortcut_plus_list>li:nth-child(6)>a>span::after{background-position: 0px -287px;}
.shortcut_plus_list>li:nth-child(7)>a>span::after{background-position: -87px -287px;}
.shortcut_plus_list>li:nth-child(8)>a>span::after{background-position: -335px -87px;}
.shortcut_plus_list>li:nth-child(9)>a>span::after{background-position: -335px -116px;}
.shortcut_plus_list>li:nth-child(10)>a>span::after{background-position: -335px -58px;}
.shortcut_plus_list>li:nth-child(11)>a>span::after{background-position: -335px -203px;}
.shortcut_plus_list>li:nth-child(12)>a>span::after{background-position: -203px -287px;}
.shortcut_plus_list>li:nth-child(13)>a>span::after{background-position: -58px -287px;}
.shortcut_plus_list>li:nth-child(14)>a>span::after{background-position: -145px -287px;}
.shortcut_plus_list>li:nth-child(15)>a>span::after{background-position: -290px -287px;}
.shortcut_plus_list>li:nth-child(16)>a>span::after{background-position: -335px -145px;}
.shortcut_plus_title:hover{text-decoration: underline;}
.shortcut_plus_list>li>a:hover{text-decoration: underline;}
.shortcut_plus_btn.active>.shortcut_icon::after{
    background-position: 0px -389px;
    width: 20px; height: 20px;
}
.shortcutArea.active{
    width: 708px; height: 364px;
    background-color: var(--color_bg_white);
    z-index: 100;
    position: absolute;
    left: 50%; top: 104px;
    transform: translate(-50%);
    border-radius: 8px;
    box-shadow: 0 0 0 1px #e3e5e8, 0 4px 8px 0 rgba(0, 0, 0, .3);
    box-sizing: border-box;
    padding: 20px 15px 20px 15px;
}
.shortcutArea.active .shortcut_plus{display: block;}





/* ---------- main ---------- */
#content{padding-bottom: 60px;}
.contentInner{position: relative;}



/* ---------- leftCol ---------- */
.leftColWrap{
    width: 830px;
    float: left;
}
.common_navi{padding: 18px 20px 17px;}
.lM2_col1>.common_navi_list>li:nth-child(1)>a:nth-child(2)::before{
    content: "";
    display: inline-block;
    width: 4px; height: 4px;
    background-color: var(--color_dot_divider);
    border-radius: 50%;
    margin: 9px 7px 0;
    vertical-align: top;
}
.common_navi_list{display: flex;}
.common_navi_list li{
    position: relative;
    padding-left: 26px;
}
.common_navi_list li::before{
    content: "";
    display: inline-block;
    width: 1px; height: 15px;
    background-color: var(--color_dot_divider);
    transform: skewX(-15deg);
    position: absolute;
    top: 4px; left: 13px;
}
.common_navi_list li:first-child{padding-left: 0px;}
.common_navi_list li:first-child::before{display: none;}
.common_navi_list li a{
    font-size: 16.8px;
    line-height: 23px;
    font-weight: 800;
    color: var(--color_inactive);
}
.common_navi_list li a:hover{text-decoration: underline;}
.common_navi_list li a.active{color: var(--color_active);}
.common_navi_list li a em{line-height: 10px;}
.common_subnavi{margin: 0 20px;}
.common_navi_before_icon::before{
    content: "";
    display: block;
    width: 1px; height: 12px;
    background-color: var(--color_dot_divider);
    position: absolute;
    top: 7px; left: 12px;
}
.common_navi_after_icon::after{
    content: "";
    display: inline-block;
    margin: 12px 6px 0 6px;
    border-radius: 50%;
    vertical-align: top;
    width: 3px; height: 3px;
    background-color: var(--color_dot_divider);
}
.common_navi_after_icon_abs::after{
    content: "";
    display: block;
    position: absolute;
    top: 8px; right: 8px;
    width: 3px; height: 3px;
    background-color: var(--color_dot_divider);
    border-radius: 50%;
}
.common_control{
    padding: 10px 0 11px;
    border-top: 1px solid var(--color_divider);
    text-align: center;
}
.lcModule4 .common_control{padding: 0;}
.common_control_btn{
    display: inline-block;
    position: relative;
    width: 36px; height: 36px;
    border: 1px solid var(--color_btn_border);
    background-color: var(--color_bg_white);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .06);
    border-radius: 50%;
    cursor: pointer;
}
.prev_btn::before{
    content: "";
    display: block;
    background-image: url(../img/icon/sprite_icon2.png);
    background-repeat: no-repeat;
    background-size: 134px 121px;
    background-position: -24px -109px;
    width: 10px; height: 12px;
    transform: rotate(180deg);
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
}
.next_btn::before{
    content: "";
    display: block;
    background-image: url(../img/icon/sprite_icon2.png);
    background-repeat: no-repeat;
    background-size: 134px 121px;
    background-position: -24px -109px;
    width: 10px; height: 12px;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
}
.common_control_btn:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12);
    background-color: #fbfbfc;
}
.common_more_btn{
    display: block;
    width: 100%;
    font-size: 13.65px;
    color: var(--color_common2);
    line-height: 56px;
    font-weight: 600;
    cursor: pointer;
}
.common_more_btn_icon{
    display: inline-block;
    position: relative;
    width: 10px; height: 10px;
    margin: 23px 0 0 1px;
    vertical-align: top;
}
.common_more_btn_icon::before{
    content: "";
    background-color: #5290ff;
    display: block;
    width: 2px; height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.common_more_btn_icon::after{
    content: "";
    background-color: #5290ff;
    display: block;
    width: 100%; height: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.common_btn_text{
    display: inline-block;
    padding: 0 16px;
    color: var(--color_common3);   
    font-size: 13.65px;
    line-height: 35px;
    font-weight: 600;
    vertical-align: top;
}
.common_btn_text span{}
.common_btn_text>span:first-child{padding-right: 4px;}
.common_btn_text>span:last-child{color: rgba(96,96,96,.5);}
.lM2_col4 .common_btn_text>span:first-child>span:first-child{color: #3a67ea;}
.lM3_col4 .common_btn_text>span:first-child>span:first-child{color: #9858f5;}
.lcModule1{overflow: hidden;}
.lcModule1Inner{}
.lM1_banner_img{
    display: block;
    font-size: 0;
}
.lM1_banner_img img{
    display: block;
    height: 130px;
}
.lcModule2{margin-top: 16px;}
.lcModule2Inner{}
.lM2_col2{
    display: flex;
    background-color: var(--color_naviBtn_hover);
    font-size: 14.7px;
    line-height: 26px;
    padding: 12px 20px;
    border-radius: 4px;
}
.lM2_col2 a{
    display: inline-block;
    vertical-align: top;
}
.lM2_col2 a:hover{text-decoration: underline;}
.lM2_col2_left{}
.lM2_col2_left a{
    color: var(--color_common2);
    font-weight: 500;
}
.lM2_col2_left_icon{
    background-image: url(../img/icon/sprite_icon_new.png);
    background-size: 435px 414px;
    background-repeat: no-repeat;
    background-position: -426px -167px;   
    width: 9px; height: 6px;
    display: inline-block;
    margin: 10px 0 0 5px;
    vertical-align: top;
}
.lM2_col2_center{
    padding-left: 25px;
    position: relative;
    flex: 1;
}
.lM2_col2_center a{
    color: var(--color_common1);
    font-weight: 500;
}
.lM2_col2_center a:last-child{}
.lM2_col2_right{}
.lM2_col2_right a{
    color: var(--color_common1);
    font-weight: 500;
}
.lM2_col2_right a:last-child{
    font-weight: bold;
    padding-left: 25px;
    position: relative;
}
.lM2_col3{}
.lM2_col3_grid{margin: 18px 20px 18px 20px;}
.lM2_col3_grid_cell{
    width: 16.66%;
    float: left;
    border: 1px solid var(--color_divider);
    box-sizing: border-box;
}
.lM2_col3_grid_cell:first-child{border-radius: 4px 0 0 0;}
.lM2_col3_grid_cell:nth-child(6){border-radius: 0 4px 0 0;}
.lM2_col3_grid_cell:nth-last-child(6){border-radius: 0 0 0 4px;}
.lM2_col3_grid_cell:last-child{border-radius: 0 0 4px 0;}
.lM2_col3_grid_cell:hover>.lM2_col3_grid_cell_front{display: none;}
.lM2_col3_grid_cell:hover>.lM2_col3_grid_cell_back{display: flex;}
.lM2_col3_grid_cell_front{
    display: block;
    padding: 18px 0;
    text-align: center;
}
.lM2_col3_grid_cell_front img{
    height: 20px;
    vertical-align: top;
}
.lM2_col3_grid_cell_back{
    display: none;
    background-color: #2868f2;
    align-items: center;
    justify-content: center;
}
.lM2_col3_grid_cell_back a{
    color: var(--color_bg_white);
    line-height: 56px;
    font-weight: 400;
    font-size: 13.65px;
}
.lM2_col3_grid_cell_back a:last-child::before{
    content: "";
    display: inline-block;
    width: 1px; height: 12px;
    margin: 0 10px 0;
    background-color: rgba(255, 255, 255, .3);
    vertical-align: middle;
}
.lM2_col3_grid_cell_back>a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.lM2_col4{position: relative;}
.page_view{
    position: absolute;
    top: 0; right: 0; bottom: 0;
}
.page_view button{cursor: pointer;}
.page_view button:first-child{padding: 18px 9px 18px 20px;}
.page_view button:first-child::before{
    content: "";
    display: block;
    background-image: url(../img/icon/sprite_icon_new.png);
    background-size: 435px 414px;
    background-repeat: no-repeat;
    background-position: -257px -356px;
    width: 20px; height: 20px;
}
.page_view button:first-child.active::before{background-position: -341px -356px;}
.page_view button:last-child{padding: 18px 20px 18px 9px;}
.page_view button:last-child::before{
    content: "";
    display: block;
    background-image: url(../img/icon/sprite_icon_new.png);
    background-size: 435px 414px;
    background-repeat: no-repeat;
    background-position: -389px -63px;
    width: 20px; height: 20px;
}
.page_view button:last-child.active::before{background-position: -389px -147px;}
.page_view button:first-child:hover::before{background-position: -236px -356px;}
.page_view button:first-child.active:hover::before{background-position: -323px -356px;}
.page_view button:last-child:hover::before{background-position: -389px -42px;}
.page_view button:last-child.active:hover::before{background-position: -389px -126px;}
.lcModule3{margin-top: 16px;}
.lcModule3Inner{}
.lM3_col2{display: flex;}
.lM3_col2_left{
    display: flex;
    font-size: 14.7px;
    padding: 15px 20px 14px;
    background-color: var(--color_naviBtn_hover);
    width: 668px;
    line-height: 21px;
    border-radius: 4px;
    box-sizing: border-box;
}
.shoping_navi_title{
    font-weight: 700;
    color: var(--color_common1);
    padding-right: 19px;
    position: relative;
}
.shoping_navi_text{
    font-weight: 500;
    color: var(--color_common2);
}
.shoping_navi_text span{margin-left: 8px;}
.shoping_navi_text span:first-child{
    display: inline-block;
    height: 13px;
    line-height: 13px;
    padding-top: 4px;
    vertical-align: top;
    margin-left: 0;
}
.shoping_navi_text span:first-child img{height: inherit;}
.shoping_navi_text span:last-child{}
.shoping_navi_text span:last-child em{color: #9858f5;}
.shoping_navi_text:hover>span:last-child{text-decoration: underline;}
.lM3_col2_right{
    font-size: 13.65px;
    margin-left: auto;
    padding: 10px 0;
}
.shoping_navi_count{
    margin: 6px 9px 8px 0;
    display: inline-block;
    line-height: 16px;
    font-weight: 600;
    vertical-align: top;
}
.shoping_navi_count span{color: rgba(113,113,113,.6);}
.shoping_navi_count span:first-child{color: var(--color_common3);}
.shoping_navi_prev_btn{
    width: 30px; height: 30px;
    border-radius: 4px 0 0 4px;
    position: relative;
    display: inline-block;
    border: 1px solid rgba(211,213,215,.8);
    vertical-align: top;
    cursor: pointer;
    margin-right: -4px;
}
.shoping_navi_prev_btn i{
    width: 10px; height: 12px;
    display: inline-block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
}
.shoping_navi_prev_btn i::before{
    content: "";
    position: absolute;
    top: 50%; left: 50%;
    width: 5px; height: 5px;
    transform: translate(-50%,-50%) rotate(45deg);
    border-left: 2px solid #80868c;
    border-bottom: 2px solid #80868c;
    margin-left: 1px;
}
.shoping_navi_next_btn{
    width: 30px; height: 30px;
    border-radius: 0 4px 4px 0;
    border-left: 0;
    position: relative;
    display: inline-block;
    border: 1px solid rgba(211,213,215,.8);
    vertical-align: top;
    cursor: pointer;
}
.shoping_navi_next_btn i{
    width: 10px; height: 12px;
    display: inline-block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
}
.shoping_navi_next_btn i::before{
    content: "";
    position: absolute;
    top: 50%; left: 50%;
    width: 5px; height: 5px;
    transform: translate(-50%,-50%) rotate(45deg);
    border-top: 2px solid #80868c;
    border-right: 2px solid #80868c;
    margin-left: -1px;
}
.shoping_navi_prev_btn:hover{background-color: #fbfbfc;}
.shoping_navi_next_btn:hover{background-color: #fbfbfc;}
.shoping_navi_prev_btn:hover>i::before{border-color: #2a2c2f;}
.shoping_navi_next_btn:hover>i::before{border-color: #2a2c2f;}
.lM3_col3{
    padding: 18px 20px 1px;
    box-sizing: border-box;
    display: flex;
}
.lM3_col3_left{}
.lM3_col3_left ul{}
.lM3_col3_left ul li{
    padding: 0 0 14px 8px;
    float: left;
}
.lM3_col3_left ul li:first-child{padding: 0;}
.lM3_col3_left ul li:nth-child(6){padding: 0;}
.shoping_card{
    position: relative;
    width: 98px;
}
.shoping_card_img{
    display: block;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 4px;
    overflow: hidden;
    width: 98px; height: 126px;
}
.shoping_card_img img{
    width: 98px; height: auto;
    transition: scale 0.2s;
}
.shoping_card_text{
    display: block;    
    padding-top: 8px;
}
.shoping_card_text p{
    color: var(--color_common1);
    font-size: 13.65px;
    line-height: 19px;
    white-space: nowrap;
}
.shoping_card:hover>.shoping_card_img>img{scale: 1.05;}
.shoping_card_text:hover>p{text-decoration: underline;}
.lM3_col3_right{flex: 1;}
.lM3_col3_right>div{
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 4px;
    background-color: rgba(245,248,251,.6);
    box-sizing: border-box;
}
.all_seller_tab{
    padding: 9px 12px 4px;
    position: relative;
    width: 248px; height: 88px;
}
.all_seller_tab div{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
.all_seller_tab div a{
    color: var(--color_common2);
    font-size: 14px;
    line-height: 20px;
}
.all_seller_tab div span{
    width: 3px; height: 3px;
    background-color: var(--color_dot_divider);
    border-radius: 50%;
    vertical-align: top;
    margin: 9px 0 0;
}
.all_seller_tab div:nth-child(1) a:nth-of-type(4){color: var(--color_common1); font-weight: bold;}
.all_seller_tab div:nth-child(2) a:nth-of-type(1){color: var(--color_common1); font-weight: bold;}
.all_seller_tab div:nth-child(3) a:nth-of-type(1){color: var(--color_common1); font-weight: bold;}
.all_seller_tab>div>a:hover{text-decoration: underline;}
.quick_menu_tab{
    margin-top: 12px;
    padding: 9px;
    position: relative;
    width: 248px; height: 74px;
}
.quick_menu_tab ul{display: flex;}
.quick_menu_tab ul li{flex: 1;}
.quick_menu_tab ul li a{
    display: block;
    text-align: center;
}
.quick_menu_tab ul li a div{
    width: 32px; height: 32px;
    line-height: 32px;
    position: relative;
    border-radius: 50%;
    border: 1px solid rgba(238,242,248,.8);
    background-color: var(--color_bg_white);
    display: inline-block;
    vertical-align: top;
}
.quick_menu_tab ul li a div::before{
    content: "";
    width: 32px; height: 32px;
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/icon/sprite_icon2.png);
    background-size: 134px 121px;
    background-repeat: no-repeat;
}
.quick_menu_tab ul li a p{
    color: var(--color_common2);
    font-size: 14px;
    margin-top: 2px;
    line-height: 20px;
}
.quick_menu1>div::before{background-position: -34px 0;}
.quick_menu2>div::before{background-position: -68px -34px;}
.quick_menu3>div::before{background-position: -34px -34px;}
.quick_menu_tab ul li a.quick_menu4>div::before{
    background-position: -102px -18px;
    width: 17px; height: 16px;
}
.quick_menu_tab ul li a:hover>p{text-decoration: underline;}
.ad_banner{
    margin-top: 12px;
    display: block;
}
.ad_banner div{
    width: 248px; height: 146px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 4px;
    box-sizing: border-box;
}
.ad_banner div img{
    width: inherit; height: inherit;
    transition: scale 0.2s;
}
.ad_banner p{
    margin-top: 8px;
    color: var(--color_common1);
    text-align: center;
    font-size: 13.65px;
    line-height: 19px;
    white-space: nowrap;
}
.ad_banner div:hover>img{scale: 1.05;}
.ad_banner:hover>p{text-decoration: underline;}
.lM3_col4{position: relative;}
.ad_tag{
    position: absolute;
    top: 18px; right: 20px;
    color: var(--color_common3);
    border: 1px solid #e3e5e8;
    width: 30px;
    border-radius: 4px;
    font-size: 12.6px;
    line-height: 18px;
    text-align: center;
    font-weight: 500;
}
.lcModule4{margin-top: 16px;}
.lcModule4Inner{}
.lM4_col2{
    margin: 0 20px 18px;
    display: flex;
    justify-content: space-between;
    font-size: 14.7px;
    background-color: var(--color_naviBtn_hover);
    border-radius: 4px;
}
.lM4_col2_left{}
.lM4_col2_left ul{
    display: flex;
    padding: 7px 10px;
}
.lM4_col2_left ul li{margin: 0 2px;}
.lM4_col2_left ul li a{
    display: block;
    padding: 0 12px;
    line-height: 34px;
    text-align: center;
    color: var(--color_common2);
    border: 1px solid var(--color_divider);
    border-radius: 18px;
    background-color: var(--color_bg_white);
}
.lM4_col2_left ul li:nth-child(1) a{border-color: rgba(82,144,255,.4);}
.lM4_col2_left ul li:nth-child(2) a{border-color: rgba(82,144,255,.4);}
.lM4_col2_left ul li.active a{
    background-color: #5290ff;
    font-weight: 800;
    color: var(--color_bg_white);
    border-color: rgba(0, 0, 0, .04);
}
.lM4_col2_right{
    display: block;
    font-weight: bold;
    line-height: 50px;
    padding: 0 20px;
    margin-left: auto;
    color: var(--color_common1);
}
.lM4_col2_right:hover{text-decoration: underline;}
.lM4_col2_left ul li a:hover{background-color: #f1f1f1;}
.lM4_col2_left ul li.active a:hover{background-color: #5290ff;}
.lM4_col3{overflow: hidden;}
.lM4_col3_wrap{}
.lM4_col3_wrap ul{
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
}
.lM4_col3_wrap ul li{
    float: left;
    padding: 0 0 20px 20px;
    box-sizing: border-box;
    width: 25%;
}
.recommend_card{}
.recommend_card_img{
    display: block;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.06);
}
.recommend_card_img img{
    display: block;
    width: 100%; height: 120px;
    transition: scale 0.2s;
}
.recommend_card_text{
    display: block;
    margin-top: 10px;
}
.recommend_card_text p{
    font-size: 14.7px;
    color: var(--color_common1);
    line-height: 20px;
    font-weight: 500;
}
.recommend_card_uploader{
    display: flex;
    margin-top: 4px;
    line-height: 20px;
    font-size: 13.65px;
}
.recommend_card_uploader span{}
.recommend_card_uploader_icon{
    border-radius: 50%;
    margin-right: 6px;
    vertical-align: top;
}
.recommend_card_uploader_icon img{
    width: 20px; height: 20px;
    border-radius: inherit;
}
.recommend_card_uploader_name{color: var(--color_common3);}
.recommend_card:hover>.recommend_card_img>img{scale: 1.05;}
.recommend_card:hover>.recommend_card_text>p{text-decoration: underline;}



/* ---------- rightCol ---------- */
.rightColWrap{
    width: 420px;
    float: left;
    margin-left: 30px;
}
.rightColScrollDown{
    position: fixed;
    bottom: 30px; right: 0;
}
.rightColScrollUp{
    position: fixed;
    top: 95px; right: 0;
}
.rightColScrollStop{
    position: absolute;
    bottom: 60px; right: 0;
}
.rightColScrollWait{
    position: absolute;
}
.rcModule1{}
.rcModule1Inner{
    padding: 21px 20px 18px;
    line-height: 20px;
    text-align: center;
}
.loginSlogan{
    font-size: 14.7px;
    color: var(--color_common1);
    text-align: center;
    font-weight: 500;
}
.loginBtn{
    display: block;
    margin-top: 13px;
    padding: 17px 0;
    background-color: var(--color_naver_brand);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .06);
    box-shadow: 0 2px 4px 0 rgba(3, 199, 90, .12);
    color: var(--color_bg_white);
    font-size: 14.7px;
}
.loginBtnLogo{
    display: inline-block;
    width: 72px; height: 14px;
    background-image: url(../img/icon/sprite_icon.png);
    background-repeat: no-repeat;
    background-size: 435px 423px;
    background-position: -120px -166px;
    margin: 3px 8px 0 0;
    vertical-align: top;
}
.loginTab{
    margin-top: 16px;
    color: var(--color_common3);
    font-size: 13.65px;
}
.loginTab a{
    display: inline-block;
    vertical-align: top;
}
.loginTab a::before{
    content: "";
    display: inline-block;
    width: 1px; height: 12px;
    background-color: var(--color_dot_divider);
    margin: 4px 12px 0;
    vertical-align: top;
}
.loginTab a:first-child::before{display: none;}
.loginBtn:hover{
    background-color: #17b75e;
    box-shadow: 0 2px 4px 0 rgba(3, 199, 90, .24);
}
.loginTab a:hover{text-decoration: underline;}
.rcModule2{
    margin-top: 16px;
    overflow: hidden;
}
.rcModule2Inner{}
.rM2_banner_img{
    display: block;
    font-size: 0;
}
.rM2_banner_img img{
    display: block;
    height: 240px;
}
.rcModule3{margin-top: 16px;}
.rcModule3Inner{padding: 0 18px;}
.rM3_title{
    display: flex;
    padding: 6px 0;
}
.rM3_title a:first-child{
    display: inline-block;
    padding-right: 7px;
    font-size: 15.75px;
    font-weight: 800;
    line-height: 40px;
    color: var(--color_active);
    vertical-align: top;
}
.rM3_title a:nth-child(2){
    display: inline-block;
    height: 26px;
    margin-top: 7px;
    padding: 0 10px 0 7px;
    box-sizing: border-box;
    border: 1px solid var(--color_divider);
    border-radius: 15px;
    font-size: 11.55px;
    line-height: 25px;
    color: var(--color_common3);
    vertical-align: top;
}
.rM3_title a:nth-child(2)::before{
    content: "";
    display: inline-block;
    margin: 6px 2px 0 0;
    background-image: url(../img/icon/sprite_icon_09.24.png);
    background-size: 435px 414px;
    background-repeat: no-repeat;
    background-position: 0px -402px;
    width: 12px; height: 12px;
    vertical-align: top;
}
.rM3_title p{
    margin-left: auto;
    font-size: 13.65px;
    line-height: 40px;
    color: var(--color_common3);
}
.rM3_title a:first-child:hover{text-decoration: underline;}
.rM3_title a:nth-child(2):hover{
    background-color: #f8f8f8;
    color: var(--color_common2);
}
.rM3_title a:nth-child(2):hover::before{
    content: "";
    display: inline-block;
    margin: 6px 2px 0 0;
    background-image: url(../img/icon/sprite_icon_09.24.png);
    background-size: 435px 414px;
    background-repeat: no-repeat;
    background-position: -390px -381px;
    width: 12px; height: 12px;
    vertical-align: top;
}
.rM3_content{
    border-top: 1px solid var(--color_divider);
    display: flex;
}
.rM3_content_left{margin: 20px 0 18px;}
.temperature_item{}
.temperature_item_top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.temperature_item_left{}
.temperature_item_left::before{
    content: "";
    background-image: url(../img/icon/sprite_icon_weather.png);
    background-size: 641px 587px;
    background-repeat: no-repeat;
    background-position: -87px 0px;
    width: 86px; height: 86px;
    display: block;
}
.temperature_item_right{
    font-size: 40.95px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -2px;
    color: var(--color_common1);
}
.temperature_item_right p{
    display: block;
    font-size: 14.7px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -0.3px;
    padding-left: 5px;
}
.temperature_item_bottom{
    line-height: 16px;
    text-align: center;
    font-size: 14.7px;
    margin-top: 16px;
}
.temperature_item_bottom span:first-child{color: #3172e7;}
.temperature_item_bottom span:nth-child(2){color: #cd3534;}
.temperature_item_bottom span:nth-child(2)::before{
    content: "";
    display: inline-block;
    width: 1px; height: 11px;
    background-color: var(--color_dot_divider);
    margin: 0 5px 0 3px;
    transform: skewX(-15deg);
    vertical-align: -1px;
}
.particulates_item{
    display: block;
    font-size: 13.65px;
    line-height: 20px;
    color: var(--color_common1);
    margin-top: 6px;
    text-align: center;
}
.particulates_item span:first-child{
    display: inline-block;
    vertical-align: top;
}
.particulates_item span:first-child span{
    padding-left: 4px;
    color: #02c73c;
}
.particulates_item span:nth-child(2){
    display: inline-block;
    vertical-align: top;
}
.particulates_item span:last-child span{
    padding-left: 4px;
    color: #02c73c;
}
.particulates_item span:nth-child(2)::before{
    content: "";
    display: inline-block;
    margin: 8px 6px 0;
    width: 3px; height: 3px;
    background-color: var(--color_dot_divider);
    border-radius: 50%;
    vertical-align: top;
}
.rM3_content_right{
    margin-left: 24px !important;
    margin: 20px 0 18px;
    flex: 1;
}
.tempgraph_item{}
.tempgraph_item ul{
    display: flex;
    justify-content: space-between;
    height: 143px;
}
.tempgraph{
    display: flex;
    width: 32px;
    flex-direction: column-reverse;
    position: relative;
    text-align: center;
}
.tempgraph_time{
    display: block;
    font-size: 13.65px;
    line-height: 16px;
    color: var(--color_common3);
}
.tempgraph_icon{}
.tempgraph_icon::before{
    content: "";
    display: block;
    width: 32px; height: 32px;
    background-image: url(../img/icon/sprite_icon_weather.png);
    background-size: 641px 587px;
    background-repeat: no-repeat;
}
.tempgraph_temp{
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: var(--color_common1);
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 60px;
}
.tempgraph_temp::before{
    content: "";
    display: block;
    position: absolute;
    top: 40px; bottom: 0; left: 15px;
    width: 1px;
    background-color: var(--color_divider);
}
.time1 .tempgraph_time{
    font-weight: bold;
    color: var(--color_common1);
}
.time1 .tempgraph_icon::before{background-position: -132px -522px;}
.time2 .tempgraph_icon::before{background-position: -132px -522px;}
.time3 .tempgraph_icon::before{background-position: -198px -522px;}
.time4 .tempgraph_icon::before{background-position: -198px -522px;}
.time5 .tempgraph_icon::before{background-position: -198px -522px;}
.time1 .tempgraph_temp{margin-top: 0px;}
.time2 .tempgraph_temp{margin-top: 5px;}
.time3 .tempgraph_temp{margin-top: 10px;}
.time4 .tempgraph_temp{margin-top: 15px;}
.time5 .tempgraph_temp{margin-top: 20px;}
.rcModule4{margin-top: 16px;}
.rcModule4Inner{padding: 0 18px;}
.rM4_title{
    display: flex;
    padding: 6px 0;
}
.rM4_title>a{
    display: inline-block;
    font-size: 15.75px;
    font-weight: 800;
    line-height: 40px;
    color: var(--color_active);
    padding-right: 7px;
    vertical-align: top;
}
.rM4_title>button{
    position: relative;
    width: 20px; height: 20px;
    margin: 10px 0 0 -4px;
    cursor: pointer;
}
.rM4_title>button::before{
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: url(../img/icon/sprite_icon_09.24.png);
    background-size: 435px 414px;
    background-repeat: no-repeat;
    background-position: -410px -72px;
    width: 14px; height: 14px;
    margin: auto;
}
.rM4_title>div{
    margin-left: auto;
    font-size: 13.65px;
    line-height: 40px;
    color: var(--color_common3);
}
.rM4_title>div>button{
    display: inline-block;
    padding: 12px 0 12px 5px;
    vertical-align: top;
    cursor: pointer;
}
.rM4_title>div>button::before{
    content: "";
    display: block;
    width: 16px; height: 16px;
    background-image: url(../img/icon/sprite_icon_09.24.png);
    background-size: 435px 414px;
    background-repeat: no-repeat;
    background-position: -158px -381px;
}
.rM4_title>a:hover{text-decoration: underline;}
.rM4_title>div>button:hover::before{background-position: -141px -381px;}
.rM4_content{
    display: flex;
    border-top: 1px solid var(--color_divider);
}
.finance_swiper{
    padding-top: 6px;
    margin: 9px 0 14px;
    width: 180px; height: 149px;
    white-space: nowrap;
}
.finance_slide{
    width: 100%;
}
.finance_name{
    font-size: 15px;
    line-height: 19px;
    color: var(--color_common1);
}
.finance_cost{
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.7px;
    color: var(--color_common1);
    margin-top: 3px;
}
.finance_state{
    position: relative;
    font-size: 14px;
    line-height: 17px;
    color: #2196f3;
    margin-top: 2px;
    padding-left: 12px;
}
.finance_state i{
    position: absolute;
    top: 5px; left: 0;
    width: 9px; height: 6px;
    background-image: url(../img/icon/sprite_icon_09.24.png);
    background-size: 435px 414px;
    background-repeat: no-repeat;
    background-position: -426px -174px;
}
.finance_state span{padding-left: 6px;}
.finance_graph{margin-top: 6px;}
.finance_graph img{
    display: block;
    width: 180px; height: 72px;
}
.dailyboard{
    margin-left: 25px !important;
    margin: 9px 0 14px;
    flex: 1;
}
.dailyboard ul{}
.dailyboard ul li{border-bottom: 1px solid var(--color_divider);}
.dailyboard_cell{}
.dailyboard_cell a{
    display: flex;
    justify-content: space-between;
    padding: 6px 0 9px;
    font-size: 14.7px;
    line-height: 21px;
    color: var(--color_common1);
}
.dailyboard_cell:nth-child(2) a{padding: 8px 0 9px;}
.dailyboard_cell:nth-child(3) a{padding: 8px 0 9px;}
.dailyboard_cell a span:first-child{}
.dailyboard_cell a span:nth-child(2){}
.dailyboard_cell a span:nth-child(2) i{
    display: inline-block;
    background-image: url(../img/icon/sprite_icon_09.24.png);
    background-size: 435px 414px;
    background-repeat: no-repeat;
    background-position: -426px -174px;
    width: 9px; height: 6px;
    margin: 8px 4px 0 0;
    vertical-align: top;
}
.dailyboard_more{}
.dailyboard_more a{
    position: relative;
    display: block;
    padding: 8px 0 9px;
    font-size: 14.7px;
    line-height: 21px;
    color: var(--color_common3);
}
.dailyboard_more a::after{
    content: "";
    display: block;
    position: absolute;
    top: 13px; right: 0;
    background-image: url(../img/icon/sprite_icon_09.24.png);
    background-size: 435px 414px;
    background-repeat: no-repeat;
    background-position: -57px -402px;
    width: 10px; height: 12px;
}
.dailyboard_cell a:hover{text-decoration: underline;}
.dailyboard_more a:hover{text-decoration: underline;}
.rcModule5{margin-top: 16px;}
.rcModule5Inner{
    padding: 15px 18px 20px;
    background-color: #f4f6fa;
}
.rM5_title{
    font-size: 15.75px;
    font-weight: 800;
    line-height: 24px;
    color: var(--color_active);
    padding-bottom: 1px;
}
.rM5_content{}
.widget_box{
    float: left;
    position: relative;
    width: 186px; height: 192px;
    margin-top: 12px;
    background-color: var(--color_bg_white);
}
.widget_box:nth-child(2n){margin-left: 12px;}
.box1{
    display: flex;
    padding: 9px 7px;
}
.box1_inner{
    flex: 1;
    position: relative;
}
.box1>.box1_inner>.widget_name{
    display: block;
    padding-left: 11px;
    font-size: 15.75px;
    font-weight: 800;
    line-height: 34px;
    color: var(--color_active);
}
.box1>.box1_inner>.widget_content{
    padding-left: 11px;
    height: 132px;
    line-height: 36px;
    margin: 8px 0 0 -1px;
}
.box1>.box1_inner>.widget_content span:first-child{
    font-size: 40.95px;
    color: var(--color_common1);
    letter-spacing: -2px;
}
.box1>.box1_inner>.widget_content span:nth-child(2){
    font-size: 13.65px;
    color: var(--color_common1);
    margin-left: 9px;
}
.widget_login1{
    position: absolute;
    bottom: 10px; left: 11px;
    font-size: 14.7px;
    color: var(--color_common3);
    text-decoration: underline;
}
.box2{}
.box2>.widget_name{
    display: flex;
    position: relative;
    border-radius: 8px 8px 0 0;
    padding: 7px 9px;
    background-image: linear-gradient(to top, #00b869, #00c772);
    line-height: 34px;
}
.box2>.widget_name::after{
    content: "";
    display: block;
    position: absolute;
    left: 0; right: 0; bottom: 2px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4) 70%, transparent 30%);
    background-size: 6px 1px;
}
.box2>.widget_name>span{
    font-size: 15.75px;
    color: var(--color_bg_white);
    font-weight: 800;
    padding-left: 10px;
    flex-basis: 50%;
}
.box2>.widget_content{}
.box2>.widget_content>ul{}
.box2>.widget_content>ul>li:nth-child(1){border-top: none;}
.box2>.widget_content>ul>li{
    height: 46px;
    padding: 0 18px;
    border-top: 1px solid var(--color_divider);
    line-height: 46px;
}
.widget_login2{
    font-size: 14.7px;
    color: var(--color_common3);
    text-decoration: underline;
    line-height: 43px;
}
.box3{position: relative;}
.box3::before{
    content: "";
    display: block;
    position: absolute;
    top: 54px; left: 54px;
    background-image: url(../img/icon/sprite_icon_09.24.png);
    background-size: 435px 414px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 78px; height: 68px;
}
.box3_inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 18px 12px 18px;
    height: 100%;
    box-sizing: border-box;
}
.box3_inner>.widget_name{
    background-image: url(../img/icon/sprite_icon_09.24.png);
    background-size: 435px 414px;
    background-repeat: no-repeat;
    background-position: -164px -183px;
    width: 76px; height: 17px;
}
.box3_inner>.widget_content{
    position: relative;
    margin: 0 13px;
    background-color: #00a2ff;
    border-radius: 20px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.04);
    line-height: 40px;
    font-size: 13.65px;
    font-weight: bold;
    text-align: center;
    color: var(--color_bg_white);
}
.box3_inner:hover>.widget_content{background-color: #1280e2;}
.box3_inner>.widget_content::before{
    content: "";
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border: 1px solid rgba(0,0,0,.02);
}
.box4{
    height: 100%;
    margin-right: 8px;
}
.box4_inner{
    position: relative;
    height: 100%;
    background-color: var(--color_bg_white);
    border-radius: 8px;
    box-shadow: 0 0 0 1px #ebebeb, 1px 0 2px 0 rgba(0,0,0,.04);
}
.box4_inner>.widget_name{
    font-size: 15.75px;
    color: var(--color_active);
    display: block;
    padding: 16px 18px 19px;
    line-height: 20px;
    font-weight: 800;
}
.box4_inner>.widget_content{height: 84px;}
.widget_content_front{
    display: block;
    font-size: 17.85px;
    font-weight: bold;
    color: var(--color_common1);
    line-height: 21px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    letter-spacing: -0.2px;
    margin: 0 18px;
}
.widget_content_back{
    display: none;
    font-size: 13.65px;
    line-height: 21px;
    font-weight: 600;
    margin: 0 18px;
    height: inherit;
}
.box4_search{
    position: absolute;
    right: 14px; bottom: 12px;
    width: 38px; height: 38px;
    border: 1px solid var(--color_btn_border);
    border-radius: 50%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
}
.box4_search::after{
    content: "";
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-image: url(../img/icon/sprite_icon_09.24.png);
    background-size: 435px 414px;
    background-repeat: no-repeat;
    background-position: -50px -356px;
    width: 24px; height: 24px;
    margin: auto;
}
.box4_search_text{
    display: none;
    font-size: 13.65px;
    color: var(--color_bg_white);
    line-height: 39px;
    font-weight: bold;
    vertical-align: top;
}
.box4_inner>.widget_name:hover{text-decoration: underline;}
.box4_inner>.widget_content:hover>.widget_content_front{display: none;}
.box4_inner>.widget_content:hover>.widget_content_back{display: block;}
.box4_search:hover{
    min-width: 120px;
    width: auto; height: 40px;
    background-color: #031f5f;
    border: 1px solid #031f5f;
    border-radius: 20px;
    padding: 0 9px 0 14px;
    box-sizing: border-box;
    white-space: nowrap;
}
.box4_search:hover::after{
    background-image: url(../img/icon/sprite_icon_09.24.png);
    background-size: 435px 414px;
    background-repeat: no-repeat;
    background-position: -389px -336px;
    display: inline-block;    
    margin: 9px 0 0 3px;
    position: static;
    width: 20px; height: 20px;
}
.box4_search:hover>.box4_search_text{display: inline-block;}
.widget_swiper{
    width: 100%; height: 278px;
    margin-top: 12px;
    float: left;
    position: relative;
    background-color: var(--color_bg_white);
}
.widget_swiper .widget_name{
    display: flex;
    padding: 15px 18px 0;
}
.widget_swiper .widget_name i{
    background-image: url(../img/icon/sprite_icon_09.24.png);
    background-size: 435px 414px;
    background-repeat: no-repeat;
    background-position: -55px -254px;
    width: 54px;
    height: 22px;
    margin-right: 5px;
}
.widget_swiper .widget_name span{
    font-size: 15.75px;
    color: var(--color_active);
    line-height: 22px;
    font-weight: 800;
}
.widget_swiper .widget_content{padding: 15px 0 0 15px;}
.clipSwiper{}
.clipSwiper-wrapper{}
.clipSlide{}
.clipSlideImg{
    display: block;
    border-radius: 4px;
    overflow: hidden;
    width: 108px;
}
.clipSlideImg img{
    display: block;
    width: 108px; height: 162px;
    transition: scale 0.2s;
}
.clipSlideText{
    display: -webkit-box;
    width: 108px; height: 40px;
    margin-top: 8px;
    font-size: 14.7px;
    line-height: 20px;
    color: var(--color_common1);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.clipSlide:hover>.clipSlideImg>img{scale: 1.05;}
.clipSlideText:hover{text-decoration: underline;}
.rM5_mobile{
    display: block;
    position: relative;
    font-size: 14.7px;
    color: var(--color_common1);
    padding: 21px 0 17px;
    margin-bottom: -15px;
    line-height: 25px;
}
.rM5_mobile::after{
    content: "";
    display: block;
    position: absolute;
    top: 28px; right: 4px;
    background-image: url(../img/icon/sprite_icon_09.24.png);
    background-size: 435px 414px;
    background-repeat: no-repeat;
    background-position: -426px -63px;
    width: 8px; height: 12px;

}
.rM5_mobile span{vertical-align: top;}
.rM5_mobile span::before{
    content: "";
    display: inline-block;
    background-image: url(../img/icon/sprite_icon_09.24.png);
    background-size: 435px 414px;
    background-repeat: no-repeat;
    background-position: -150px -356px;
    width: 22px; height: 22px;
    margin: 2px 11px 0 3px;
    vertical-align: top;
}
.rM5_mobile span em{font-weight: bold;}
.rcModule6{margin-top: 16px;}
.rcModule6Inner{padding: 8px 50px 8px 18px;}
.rM6_whaile_btn{
    display: flex;
    align-items: center;
    width: 352px;
    padding: 11px 0;
}
.whaileBtnLogo{
    display: block;
    background-image: url(../img/icon/sprite_icon.png);
    background-size: 435px 423px;
    background-position: -201px -143px;
    background-repeat: no-repeat;
    width: 42px; height: 36px;
    margin-right: 12px;
}
.whaileBtnText{}
.whaileBtnText p{
    display: block;
    font-size: 14.7px;
    font-weight: bold;
    line-height: 20px;
    color: var(--color_common1);
}
.whaileBtnText p:first-child{}
.whaileBtnText p:last-child{
    color: var(--color_common3);
    margin-top: 2px;
}
.rM6_whaile_btn:hover p{text-decoration: underline;}





/* -------------------- footer -------------------- */
#footer{
    background-color: #f5f6f7;
    border-top: 1px solid var(--color_divider);
}
.footerInner{padding-bottom: 78px;}
#footer .title{
    color: var(--color_common1);
    font-size: 13.65px;
    font-weight: bold;
}
.fBanner{
    padding: 30px 0;
    border-bottom: 1px solid var(--color_divider);
    display: flex;
    justify-content: space-between;
}
.fbCard{display: flex;}
.fbCard:hover .fbCard_img img{scale: 1.05;}
.fbCard:hover .fbCard_desc_title{text-decoration: underline;}
.fbCard_img{
    overflow: hidden;
    width: 160px; height: 100px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.06);
}
.fbCard_img img{
    width: 100%; height: 100%;
    transition: scale 0.2s;
}
.fbCard_desc{
    padding: 5px 3px 0 18px;
    box-sizing: border-box;
}
.fbCard_desc_subtitle{
    color: var(--color_fbCard_desc_subtitle);
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    border-radius: 4px;
    background-color: #a0adb2;
    padding: 0 6px;
    height: 20px;
    max-width: 141px;
}
.fbCard_desc_title{
    color: var(--color_fbCard_desc_title);
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: -0.25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin-top: 10px;
}
.fbCard_desc_text1, .fbCard_desc_text2{
    color: var(--color_fbCard_desc_text);
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}
.fbCard_desc_text1{margin-top: 6px;}
.fbCard_desc_text2{}
.fNotice{
    padding: 21px 0;
    border-bottom: 1px solid var(--color_divider);
    display: flex;
    justify-content: space-between;
}
.fnLeft{}
.fnLeft a{color: inherit;}
.fnRight{}
.fnRight::after{
    content: "";
    background-image: url(../img/icon/sprite_icon.png);
    background-size: 434px 422px;
    background-position: -326px -194px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 8px; height: 12px;
    margin: 3px 0 0 10px;
    vertical-align: top;
}
.fnLeft a:hover{text-decoration: underline;}
.fnRight:hover{text-decoration: underline;}
.fAside{
    padding: 20px 0;
    border-bottom: 1px solid var(--color_divider);
    display: flex;
    justify-content: space-between;
}
.faPartner{}
.partnerLine{margin-top: 10px;}
.partnerLine:first-child{margin-top: 0px;}
.partnerLine .title{
    display: inline-block;
    width: 87px;
    padding-right: 23px;
}
.partnerLine_line{
    color: var(--color_common2);
    font-size: 13.65px;
}
.partnerLine_line::before{
    content: "";
    background-color: var(--color_dot_divider);
    display: inline-block;
    width: 1px; height: 12px;
    margin: 0 16px;
    vertical-align: -1px;
}
.partnerLine_line:nth-child(2)::before{
    content: "";
    display: none;
}
.partnerLine_line:hover{text-decoration: underline;}
.faService{display: flex;}
.serviceBlock{
    display: flex;
    align-items: center;
}
.serviceBlock:last-child{margin-left: 61px;}
.serviceBlock_desc{}
.serviceBlock_desc .title{}
.serviceBlock_desc_link{
    color: var(--color_common2);
    font-size: 13.65px;
    display: block;
    margin-top: 5px;
}
.serviceBlock_desc_link:hover{text-decoration: underline;}
.serviceBlock_img{
    display: block;
    margin-left: 34px;
    font-size: 0;
    height: 48px;
}
.serviceBlock_img img{width: 48px; height: 48px;}
.fCorp{
    padding-top: 20px;
    text-align: center;
}
.fCorp ul{
    display: inline-block;
    margin-right: 23px;
}
.fCorp ul li{display: inline-block;}
.fCorp ul li::before{
    content: "";
    background-color: var(--color_dot_divider);
    display: inline-block;
    width: 1px; height: 12px;
    margin: 0 16px;
    vertical-align: -1px;
}
.fCorp ul li:first-child::before{
    content: "";
    display: none;
}
.fCorp ul li a{
    color: var(--color_common2);
    font-size: 13.65px;
    line-height: 20px;
}
.fCorp ul li a strong{}
.address{display: inline-block;}
.address a{
    color: var(--color_common1);
    font-size: 13.65px;
    font-weight: bold;
}
.fCorp ul li a:hover{text-decoration: underline;}
.address a:hover{text-decoration: underline;}